.login_header{margin-top:20%;margin-bottom:40px;text-align:center}
.login_header img{max-width:100%}.login_submit{margin-top:30px}
.login_message_summary{margin-bottom:-30px}.field-validation-error{color:Red}
.validation-summary-errors ul{list-style-type:none;margin:0;padding:0}
.field-validation-valid{display:none}
.validation-summary-valid{display:none}
.circular--image{
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    position: relative;
    margin-top: auto;
}

body {
    background-color: #990000;
};

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
    .circular--image {
        width: 216px;
    }
}
  
/* Media Query for Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color: yellow;
    }
}
  
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    body {
        background-color: green;
    }
}

