@import "mediaQuery.css";
.login_header{margin-top:10%;margin-bottom:40px;text-align:center}
.login_header img{max-width:100%}.login_submit{margin-top:30px}
.login_message_summary{margin-bottom:-30px}
.field-validation-error{color:Red}
.validation-summary-errors ul{list-style-type:none;margin:0;padding:0}
.field-validation-valid{display:none}
.validation-summary-valid{display:none}
.circular--image{
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    position: relative;
    margin-top: auto;
}

body {
    background-color: #990000;
};

.align-items-center-justify-content-center{
    text-align: center;
}

.field{
    margin-top: 10px;
    margin-left: 43%;
    width: 250px;
    height: 30px;
}


input[type="text"]::placeholder {
    color: #999;
    text-align: left;
}

input[type="text"] {
    text-align: left;
}

.login-Button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    margin-left: 47.5%;
    background-color: gray; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}

.login-Button:hover{
    background-color: #000000;
}